@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --blue: #8ab4f7;
  --grey: #282c2d;
  --transparent-grey: rgba(199, 199, 199, 0.2);
  --transparent-blue: rgba(138, 180, 247, 0.2);
  --drop-shadow:  box-shadow: 1px 4px 6px -1px rgba(0, 0, 0, 0.91);
}

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}
.container {
  position: relative;
  padding: 5px;
}
.body__bg {
  background-image: url("https://images.unsplash.com/photo-1474224017046-182ece80b263?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2250&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}
.nav__container {
  display: flex;
  align-items: center;
  right: 0;
  height: 60px;
  width: 100vw;
  /* background-color: red; */
  padding: 15px;
}
.nav__left-space {
  flex-grow: 1;
}
.nav__links {
  display: flex;
  align-items: center;
}
.nav__links a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.nav__links a:hover {
  text-decoration: underline;
}
.nav__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.nav__icon:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  margin-left: 5px;

  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.nav__icon-circles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.nav-circles {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: white;
  margin: 1px;
}
.nav__user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: blue;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid transparent;
  transition: 0.2s ease-in-out;
}
.nav__user-icon:hover {
  border: 3px solid lightgray;
}
.nav__user-icon img {
  height: 40px;
  width: 40px;
}
.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100vw;
  margin-top: 70px;
}
.main__content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}
.main__logo {
  width: 250px;
  height: 100px;
}
.main__logo img {
  margin-bottom: 5px;
}
.main__search-box {
  display: flex;
  padding: 5px;
  margin-top: 10px;
  background-color: white;
  width: 500px;
  height: 45px;
  border-radius: 50px;
}
.main__search-box input {
  border: none;
  flex-grow: 1;
}
.main__search-box-icon-search,
.main__search-box-icon-mic {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin: 0 5px;
}
.main__shortcut-container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  height: 150px;
  margin: 15px 0 5px 0;
  /* background-color: black; */
}
.shortcut-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 100%;
  padding: 5px;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.shortcut-card:hover {
  background-color: var(--transparent-grey);
}
.shortcut__settings {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
}
.shortcut__dots {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin-bottom: 2px;
  background-color: white;
}
.shortcut__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 15px 0 25px 0;
  background-color: white;
  color: black;
  font-size: 1.5rem;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 50px;
  padding: 10px;
  color: white;
  font-size: 15px;
  /* background-color: lightgray; */
}
.footer__link {
  display: flex;
}
.footer__link i {
  margin-right: 10px;
}
.footer__settings-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  1px 4px 6px -1px rgba(0, 0, 0, 0.91)
}

/************* USER MODAL ************/

.user__modal {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 5px;
  height: 320px;
  width: 300px;
  border-radius: 10px;
  background-color: var(--grey);
  color: white;
  transform: translateX(102%);
  transition: 0.3s ease-in-out;
}

.user__modal--show {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 5px;
  height: 320px;
  width: 300px;
  border-radius: 10px;
  background-color: var(--grey);
  color: white;
  transform: translateX(0);
}

.user__modal-icon,
.user__modal-icon img {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 40px;
}
.user__modal-camera-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -3px;
  bottom: -30px;
  height: 30px;
  width: 30px;
  font-size: 15px;
  border-radius: 50%;
  background-color: var(--grey);
  z-index: 1;
  color: white;
  box-shadow: 1px 4px 6px -1px rgba(0, 0, 0, 0.91);
  cursor: pointer;
}
.user__modal-name {
  font-weight: 400;
  margin-bottom: 10px;
}
.user__modal-email {
  font-weight: 200;
  text-transform: lowercase;
  font-size: 15px;
}

/************* MODAL ************/

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
}
.modal__container {
  position: relative;
  height: 475px;
  width: 800px;
  border-radius: 10px;
  padding-top: 15px;
  background-color: var(--grey);
  overflow: hidden;
}
.modal__header {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: var(--grey);
}
.modal__msg {
  color: white;
  font-size: 15px;
  margin-left: 30%;
}
.modal__mid-container {
  display: flex;
}
.modal__left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 320px;
  width: 30%;
}
.modal__btn {
  display: flex;
  align-items: center;
  padding: 12px;
  width: 80%;
  height: 40px;
  border-radius: 0 30px 30px 0;
  font-size: 15px;
  font-weight: 200;
  color: white;
  cursor: pointer;
}
.modal__btn--active {
  display: flex;
  align-items: center;
  padding: 12px;
  width: 80%;
  height: 40px;
  border-radius: 0 30px 30px 0;
  font-size: 15px;
  font-weight: 200;
  background-color: var(--transparent-blue);
  color: var(--blue);
}
/* .modal__btn:hover{
  display: flex;
  align-items: center;
  padding: 12px;
  width: 80%;
  height: 40px;
  border-radius: 0 30px 30px 0;
  color: white;
  background-color: var(--transparent-grey);
} */
.modal__btn-icon {
  margin-right: 15px;
}
.modal__btn-space {
  height: 160px;
}
.modal__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow-y: scroll;
  height: 320px;
  width: 70%;
  /* background-color: black; */
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c7c7c8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #646464;
  border-radius: 15px;
}
/* #646464 */
/* #C7C7C8 */

.photo__card {
  height: 175px;
  width: 175px;
  /* background-color: var(--blue); */
  margin-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.photo__bg {
  width: 175px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid var(--grey);
}
.photo__bg-img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 4px solid var(--transparent-grey);
}
.photo__bg-img--active {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  border: 4px solid var(--blue);
}
.photo__bg-img:hover {
  z-index: 2;
  border: 4px solid var(--blue);
}
.photo__description {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
  font-weight: 200;
  margin-top: 5px;
}
.modal__btm-container {
  display: flex;
  align-items: center;
  /* position: absolute; */
  padding-right: 20px;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: var(--grey);
  z-index: 1;
  position: relative;
}
.modal__space {
  flex-grow: 1;
}
.modal__btns button {
  padding: 8px 25px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
  border: 1px solid var(--blue);
  transition: 1ms ease-in-out;
  cursor: pointer;
}
.modal__btns button:hover {
  background: var(--transparent-grey);
}
.modal__btn-cancel {
  background-color: transparent;
  color: var(--blue);
}
.modal__btn-done {
  border: none;
  background-color: var(--blue);
  color: var(--grey);
}
