@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --blue: #8AB4F7;
  --grey: #282C2D;
  --transparent-grey:rgba(199,199,199, 0.4);
}

* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1474224017046-182ece80b263?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2250&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.nav__container {
  display: flex;
  align-items: center;
  right: 0;
  height: 50px;
  width: 100vw;
  /* background-color: red; */
  padding: 5px;
}
.nav__left-space {
  flex-grow: 1;
}
.nav__links {
  display: flex;
  align-items: center;
}
.nav__links a {
  margin-left: 10px;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 8px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
.nav__links a:hover {
  text-decoration: underline;
}
.nav__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.nav__icon:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  margin-left: 5px;

  height: 25px;
  width: 25px;
  border-radius: 50%;
  cursor: pointer;
}
.nav__icon-circles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.nav-circles {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: white;
  margin: 1px;
}
.nav__user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 25px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: blue;
  overflow: hidden;
  cursor: pointer;
  border: 3px solid transparent;
  transition: 0.2s ease-in-out;
}
.nav__user-icon:hover {
  border: 3px solid lightgray;
}
.nav__user-icon img {
  height: 25px;
  width: 25px;
}
.main__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100vw;
  margin-top: 40px;
}
.main__content-container {
  /* background-color: red; */
}
.main__search-box {
  display: flex;
  padding: 5px;
  background-color: white;
  width: 300px;
  height: 100%;
  border-radius: 50px;
}
.main__search-box input {
  border: none;
  flex-grow: 1;
}
.main__search-box-icon-search,
.main__search-box-icon-mic {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin: 0 5px;
}
.footer__container {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 50px;
  /* background-color: lightgray; */
}
.test {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
}
.test img {
  width: 80px;
  height: 80px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;  
  position: fixed;
  top: 0;
  z-index: 1;
  background-color:transparent;
  height: 100vh;
  width: 100vw;
}
.modal__container{
  position: relative;
    height: 250px;
    width: 400px;
    border-radius: 10px;
    padding-top: 15px;
    background-color: var(--grey);
    overflow: hidden;
}
.modal__header{
  display: flex;
  align-items: center;
    height: 40px;
    width: 100%;
    background-color: var(--grey);
}
.modal__msg{
    color: white;
    font-size: 10px;
    margin-left: 40%;
}
.modal__mid-container{
  display: flex;
}
.modal__left{
  height: 150px;
  width: 40%;
}
.modal__right{
  height: 150px;
  width: 60%;
  background-color: black;
}
.modal__btm-container{
  display: flex;
  align-items: center;
  /* position: absolute; */
  padding-right: 10px;
  bottom: 0;
  height: 40px;
  width: 100%;
}
.modal__space{
  flex-grow: 1;
}
.modal__btns button{
  padding: 2px 5px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  border: 1px solid var(--blue);
  transition: 1ms ease-in-out;
  cursor: pointer;
}
.modal__btns button:hover{
  background: var(--transparent-grey);
}
.modal__btn-cancel{
  background-color: transparent;
  color: var(--blue);
  
}
.modal__btn-done{
  border: none;
  background-color: var(--blue);
  color: var(--grey) ;
}